<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-20">
            <div class="col-md-6 offset-md-3">
                <mat-card class="p20">
                    <div class="container">
                        <!--in new angular, asset file will not get created in src,
                    therefore create it manually and add declaration of it in package.json options->assets-->
                        <div class="container text-center">
                            <img clas="text-center" src="../../../assets/logo-compact.png" style="width:200px;"
                                alt="logo-compact.png" />
                        </div>
                    </div>
                    <h6 class="text-center">Register Here !!</h6>
                    <!-- {{user | json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Username</mat-label>
                            <input required [(ngModel)]="user.username" name="username" matInput
                                placeholder="Enter Username">
                            <mat-hint>Username must be unique!!</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input required [(ngModel)]="user.password" name="password" type="password" matInput
                                placeholder="Enter Password">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>FirstName</mat-label>
                            <input required [(ngModel)]="user.firstName" name="firstName" matInput
                                placeholder="Enter FirstName">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>LastName</mat-label>
                            <input required [(ngModel)]="user.lastName" name="lastName" matInput
                                placeholder="Enter LastName">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input required [(ngModel)]="user.email" name="email" type="email" matInput
                                placeholder="Enter Email">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Phone No.</mat-label>
                            <input required [(ngModel)]="user.phone" name="phone" type="number" matInput
                                placeholder="Enter Phone">
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-flat-button>Register</button>
                            <button style="margin-left:20px" mat-raised-button>Clear</button>
                        </div>
                    </form>
                </mat-card>
            </div>

        </div>
    </div>
</div>